		* {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}
		a {
			text-decoration: none;
			color: white;
		}
		.contenedor {
			width: 100%;
			min-height: 100vh;
			background: black;
		}
		.navbar {
			width: 100%;
			height: 60px;
			background: blue;
		}
		.bloque-texto {
			width: 50%;
			min-height: 50vh;
			margin: 60px auto;
			background: none;
		}
		.bloque-texto h1 {
			font-size: 50px;
			font-family: inherit;
			color: white;
			margin-bottom: 30px;
		}
		.bloque-texto p {
			font-size: 20px;
			font-family: sans-serif;
			color: white;
			margin-bottom: 20px;
		}
		.pie-pagina {
			width: 100%;
			margin-top: 60px;
			color: white;
			text-align: center;
    		background: #00f;
		}
